.icon-box{
    display: flex;
    flex-direction: column;
}

.icon {
    max-width: 300px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-img{
    
    max-width: 100px;
    margin-bottom: 10px; 
}