@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

.project-container{
    display: flex;
    font-family: 'Raleway', sans-serif;
    padding-left: 10%;
    align-items: center;
    padding-right: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    
}

.project-desc{
    
    margin-left: 10px;
    flex-grow: 10;


}

.project-desc>p>span{
    color: grey;
    margin-left: 10px;
}
.project-img{
    /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% !important; */
    flex-grow: 1;
    margin-left: auto;
    max-width: 500px;
}
.project-img>img{
   max-height: 70%;
    
}


